<div class="container">
    <div class="title">
        <h3>Contato</h3>
    </div>

    <div class="contact">
        <div>
            <p>
                Estou sempre aberto a novas oportunidades e colaborações. Se você tem um projeto em mente, deseja discutir uma ideia ou simplesmente quer bater um papo, sinta-se à vontade para entrar em contato comigo.
            </p>

            <p>
                Você pode me encontrar através dos seguintes meios:
            </p>            
        </div>

        <div>
            <section>
                <mat-icon>mail</mat-icon>
                <p>{{ email }}</p>
                <mat-icon 
                    class="copy"
                    [cdkCopyToClipboard]="email"
                    (click)="copyText()"
                    matTooltip="Copiar"
                >
                    content_copy
                </mat-icon>
            </section>

            <section>
                <mat-icon>call</mat-icon>
                <p>{{ number }}</p>
                <mat-icon 
                    class="copy"
                    [cdkCopyToClipboard]="number"
                    (click)="copyText()"
                    matTooltip="Copiar"
                >
                    content_copy
                </mat-icon>
            </section>
        </div>

        <section>
            <ng-container *ngIf="!darkThemeService.isDarkMode() else darkModeSocial">
                <!-- Usando o método navigateTo, pois o href está bugado... -->
                <a class="first-icon" (click)="navigateTo('https://github.com/henriqtorresl')"><img src="../../../assets/github.png" alt="GitHub"></a>
                <a class="second-icon" (click)="navigateTo('https://www.linkedin.com/in/henrique-torres-a08a36243/')"><img src="../../../assets/linkedin.png" alt="Linkedin"></a>
                <a class="third-icon" (click)="navigateTo('https://www.instagram.com/henriqtorresl')"><img src="../../../assets/instagram.png" alt="Instagram"></a>
            </ng-container>

            <ng-template #darkModeSocial>
                <a class="first-icon-dark" (click)="navigateTo('https://github.com/henriqtorresl')" ><img src="../../../assets/github-dark.png" alt="GitHub"></a>
                <a class="second-icon-dark" (click)="navigateTo('https://www.linkedin.com/in/henrique-torres-a08a36243/')"><img src="../../../assets/linkedin-dark.png" alt="Linkedin"></a>
                <a class="third-icon-dark" (click)="navigateTo('https://www.instagram.com/henriqtorresl')"><img src="../../../assets/instagram-dark.png" alt="Instagram"></a>
            </ng-template>
        </section>
    </div>
</div>