<div class="container-mobile">
    <button (click)="onMenuButtonClick()">
        <mat-icon>menu</mat-icon>
    </button>
</div>

<app-side-bar *ngIf="isSidebarOpen" (closeEvent)="closeSideBar($event)"></app-side-bar>

<div class="container-header">
    <ul>
        <li>
            <a 
                routerLink="home" 
                [ngClass]="isActive('home')"
            >
                Sobre
            </a>
        </li>
        <li>
            <a 
                routerLink="projects" 
                [ngClass]="isActive('projects')"
            >
                Projetos
            </a>
        </li>
        <li>
            <a 
                routerLink="contact" 
                [ngClass]="isActive('contact')"
            >
                Contato
            </a>
        </li>
        <li class="buttons">
            <button class="light-button">
                <mat-icon>light_mode</mat-icon>
            </button>

            <a href="../../../assets/curriculo/Currículo - Henrique Torres.pdf" download class="download-button">
                Download CV
            </a>
        </li>
    </ul>
</div>