@import url('../../../styles.scss');
@import url('../../../animations.scss');

.container-header {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--hover-button);
    z-index: 1000;

    ul {
        width: 35%;
        display: flex;
        justify-content: space-around;
        align-items: center;


        li {
            list-style: none;

                a {
                    text-decoration: none;
                    color: var(--text-color);
                    cursor: pointer;
                    font-size: 18px;

                    &:hover {
                        color: var(--text-secundary-color);
                        transition: background-color 0.5s ease, transform 0.5s ease;
                    }
                }
        }
    }

    @media (min-width: 768px) and (max-width: 1200px) {
        ul {
            width: 55%;
        }
    }

    @media (max-width: 767px) {
        display: none;
    }
}

.active {
    color: var(--text-secundary-color) !important;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    border-left: 2px solid var(--hover-button);

    button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-left: 10px;
        border: none;
        background-color: transparent;
        height: 100%;
        font-size: 18px;
    }
}

.light-button {
    color: var(--text-secundary-color);

    &:hover {
        transition: transform 0.3s ease-in-out;
        transform: scale(1.1);
    }
}

.download-button {
    padding: 5px 8px 5px 8px;
    margin-left: 10px;
    font-size: 14px !important;
    color: var(--background-color) !important;
    background-color: var(--text-secundary-color);
    border-radius: 12px;

    &:hover {
        transition: transform 0.3s ease-in-out;
        transform: scale(1.1);
    }
}

.container-mobile {
    display: none;

    @media (max-width: 767px) {
        position: fixed;
        backdrop-filter: blur(10px);
        border-bottom: 1px solid var(--hover-button);
        z-index: 1000;
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: end;
        align-items: center;

        button {
            display: flex;
            align-items: center;
            background-color: transparent;
            border: none;
            color: var(--text-color);
            padding: 5px;
            border-radius: 5px;
            margin-right: 10px;
            cursor: pointer;

            &:hover {
                background-color: var(--hover-button);
                transition: background-color 0.5s ease, transform 0.5s ease;
            }
        }
    }
}
