.container-header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9); /* Cor de fundo com transparência */

    ul {
        width: 35%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
            color: #4B5563;
            cursor: pointer;
            list-style: none;
            font-size: 18px;
        }
    }

    @media (min-width: 768px) and (max-width: 1200px) {
        ul {
            width: 55%;
        }
    }

    @media (max-width: 767px) {
        display: none;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-left: 10px;
        border: none;
        background-color: #FFFFFF;
        height: 100%;
        font-size: 18px;
    }
}

.light-button {
    color: #111827;
}

.download-button {
    padding: 5px 8px 5px 8px;
    color: #FFFFFF;
    background-color: #111827 !important;
    border-radius: 12px;
}

.container-mobile {
    display: none;

    @media (max-width: 767px) {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.9); /* Cor de fundo com transparência */
        width: 100%;
        height: 5%; 
        display: flex;
        justify-content: end;
        align-items: center;

        button {
            display: flex;
            align-items: center;
            background-color: transparent;
            border: none;
            color: #4B5563;
            padding: 5px;
            border-radius: 5px;
            margin-right: 10px;
            cursor: pointer;

            &:hover {
                background-color: #EFEFEF;
                transition: background-color 0.5s ease, transform 0.5s ease;
            }
        }
        
    }
}