<div class="sidebar">
    <div class="sidebar-container">
        <div class="close">
            <button (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <div class="list">
            <ul>
                <li>Sobre</li>
                <li>Projetos</li>
                <li>Contato</li>
            </ul>
        </div>

        <div class="buttons">
            <div>
                Mudar Tema
                <button>
                    <mat-icon>light_mode</mat-icon>
                </button>
            </div>
            <button class="download-button">
                Download CV
            </button>
        </div>

    </div>
</div>