<div class="sidebar">
    <div class="sidebar-container">
        <div class="close">
            <button (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <div class="list">
            <ul>
                <li>
                    <a 
                        routerLink="home" 
                        [ngClass]="isActive('home')"
                    >
                        Sobre
                    </a>
                </li>
                <li>
                    <a 
                        routerLink="projects" 
                        [ngClass]="isActive('projects')"
                    >
                        Projetos
                    </a>
                </li>
                <li>
                    <a 
                        routerLink="contact" 
                        [ngClass]="isActive('contact')"
                    >
                        Contato
                    </a>
                </li>
            </ul>
        </div>

        <div class="buttons">
            <div>
                Mudar Tema
                <button>
                    <mat-icon>light_mode</mat-icon>
                </button>
            </div>
            
            <a href="../../../assets/curriculo/Currículo - Henrique Torres.pdf" download class="download-button">
                Download CV
            </a>
        </div>

    </div>
</div>