<div class="sidebar" #sidebar>
    <div class="sidebar-container">
        <div class="close">
            <button (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <div class="list">
            <ul>
                <li>
                    <a 
                        routerLink="home" 
                        [ngClass]="isActive('home')"
                        (click)="close()"
                    >
                        Sobre
                    </a>
                </li>
                <li>
                    <a 
                        routerLink="projects" 
                        [ngClass]="isActive('projects')"
                        (click)="close()"
                    >
                        Projetos
                    </a>
                </li>
                <li>
                    <a 
                        routerLink="contact" 
                        [ngClass]="isActive('contact')"
                        (click)="close()"
                    >
                        Contato
                    </a>
                </li>
            </ul>
        </div>

        <div class="buttons">
            <div>
                Mudar Tema
                <button (click)="alterTheme()">
                    <ng-container *ngIf="!darkThemeService.isDarkMode() else darkMode">
                        <mat-icon>dark_mode</mat-icon>
                    </ng-container>
                    
                    <ng-template #darkMode>
                        <mat-icon>light_mode</mat-icon>
                    </ng-template>
                </button>
            </div>
            
            <a href="../../../assets/curriculo/Currículo - Henrique Torres.pdf" download class="download-button">
                Download CV
            </a>
        </div>

    </div>
</div>