// Mobile
.container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.picture {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
}

.me {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover; 
        box-shadow: 7px 7px #4B5563;
    }
}

.content {
    height: 60%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resume {
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        color: #4B5563;
        font-size: 20px;
    }
}

.social {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    color: #4B5563;

    div {
        display: flex;
        align-items: center;
    }

    section {
        width: 60%;
        display: flex;
        justify-content: space-between;

        a {
            padding: 5px;
            display: flex;
            align-items: center;
            border-radius: 5px;
            cursor: pointer;
            img {
                width: 30px;
                height: 30px;
            }

            &:hover {
                background-color: #EFEFEF;
                transition: background-color 0.5s ease, transform 0.5s ease;
            }
        }
    }
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 992px) {
    
}

// Desktop
@media screen and (min-width: 992px) and (max-width: 1200px) {
    
}

// Telas grandes
@media screen and (min-width: 1200px) {
    
}