<div class="container">
    <div class="container-about">
        <div class="picture">
            <div class="me">
                <img src="../../../assets/me.png" alt="Henrique Torres">
            </div>
        </div>
    
        <div class="content">
            <div class="resume">
                <h1>Henrique Torres | Dev</h1>
                <p>
                    Programador Full Stack com experiência em
                    desenvolvimento de software. Busco novas
                    oportunidades para aplicar e aprimorar minhas
                    habilidades, contribuindo para projetos de
                    sucesso.
                </p>
            </div>
    
            <div class="social">
                <div>
                    <section>
                        <mat-icon>
                            location_on
                        </mat-icon>
                        Brasília - DF, Brasil
                    </section>
    
                    <section>
                        <div class="online-signal"></div>
                        Disponível para novos projetos
                    </section>
                </div>
        
                <section>
                    <a href="https://github.com/henriqtorresl" target="_blank"><img src="../../../assets/github.png" alt="GitHub"></a>
                    <a href="https://www.linkedin.com/in/henrique-torres-a08a36243/" target="_blank"><img src="../../../assets/linkedin.png" alt="Linkedin"></a>
                    <a href="https://www.instagram.com/henriqtorresl" target="_blank"><img src="../../../assets/instagram.png" alt="Instagram"></a>
                </section>
            </div>
        </div>
        
    </div>
</div>

<div class="container-tecnologies">
    <div class="technologies-title">
        <h3>Tecnologias</h3>
    </div>

    <div class="technologies">
        
    </div>
</div>