// Mobile
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-about {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.picture {
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
}

.me {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover; 
        box-shadow: 7px 7px #4B5563;
    }
}

.content {
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.resume {
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    p {
        color: #4B5563;
        font-size: 20px;
    }
}

.online-signal {
    margin: 0 7px 0 7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    position: relative;
}

.online-signal::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 128, 0, 0.5);
    transform: translate(-50%, -50%);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0.5;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

.social {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    color: #4B5563;

    section {
        width: 60%;
        display: flex;
        justify-content: space-between;

        a {
            padding: 5px;
            display: flex;
            align-items: center;
            border-radius: 5px;
            cursor: pointer;
            img {
                width: 30px;
                height: 30px;
            }

            &:hover {
                background-color: #EFEFEF;
                transition: background-color 0.5s ease, transform 0.5s ease;
            }
        }
    }

    div {
        display: flex;
        flex-direction: column;

        section {
            width: 100%;
            display: flex !important;
            align-items: center !important;
            justify-content: left !important;
        }   
    }
}

.container-tecnologies {
    background-color: #F9FAFB;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.technologies-title {
    margin: 20px 0 20px 0;
    h3 {
        padding: 5px 10px;
        border-radius: 10px;
        background-color: #E5E7EB;
        color: #4B5563;
        font-weight: normal;
    }
}

.technologies {
    width: 100%;
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 100px);
    align-items: start;
}

.technology {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 15px 10px;

    a {
        cursor: pointer;
        img {
            width: 64px;
            height: 64px;
        }

        &:hover {
            img {
                transition: transform 0.3s ease-in-out;
                transform: scale(1.1);
            }
        }
    }

    p {
        color: #4B5563;
    }
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        height: 70%;
    }

    .container-about {
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: row-reverse;
    }
    
    .picture {
        width: 30%;
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    
    .me {
        img {
            box-shadow: 12px 12px #4B5563;
        }
    }
    
    .content {
        width: 50%;
        height: 80%;
    }
    
    .resume {
        height: 40%;
    }

    .social {
        height: 25%;
    }

    .technologies {
        width: 60%;
    }
}

// Desktop
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .container {
        height: 60%;
    }

    .container-about {
        height: 90%;
        width: 80%;
        display: flex;
        flex-direction: row-reverse;
    }
    
    .picture {
        width: 30%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    
    .me {
        height: 250px;
        width: 250px;

        img {
            box-shadow: 15px 15px #4B5563;
        }
    }

    .content {
        width: 50%;
        height: 80%;
    }
    
    .resume {
        height: 40%;
    }

    .social {
        height: 30%;
    }

    .technologies {
        width: 50%;
    }
}

// Telas grandes
@media screen and (min-width: 1200px) {
    .container {
        height: 60%;
    }

    .container-about {
        height: 90%;
        width: 70%;
        display: flex;
        flex-direction: row-reverse;
    }
    
    .picture {
        width: 30%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    
    .me {
        height: 250px;
        width: 250px;

        img {
            box-shadow: 15px 15px #4B5563;
        }
    }

    .content {
        width: 50%;
        height: 60%;

    }
    
    .resume {
        height: 40%;
    }

    .social {
        height: 35%;

        section {
            width: 30%;
        }
    }

    .technologies {
        width: 40%;
    }
}