@import 'src/styles.scss';
@import url('../../../animations.scss');

// Mobile
.container {
    width: 100%;
    height: 100%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.container-about {
    width: 100%;
    height: 90%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.picture {
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
}

.me {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover; 
        box-shadow: 7px 7px var(--background-terciary-color);
    }
}

.content {
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.resume {
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h1 {
        color: var(--text-secundary-color);
    }

    p {
        color: var(--text-color);
        font-size: 20px;
    }
}

.online-signal {
    margin: 0 7px 0 7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #10B981;
    position: relative;
}

.online-signal::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #10B981;
    transform: translate(-50%, -50%);
    animation: pulse 2s infinite;
}

.social {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    color: var(--text-color);

    section {
        width: 60%;
        display: flex;
        justify-content: space-between;

        a {
            padding: 5px;
            display: flex;
            align-items: center;
            border-radius: 5px;
            cursor: pointer;
            img {
                width: 30px;
                height: 30px;
            }

            &:hover {
                background-color: var(--hover-button);
                transition: background-color 0.5s ease, transform 0.5s ease;
            }
        }
    }

    div {
        display: flex;
        flex-direction: column;

        section {
            width: 100%;
            display: flex !important;
            align-items: center !important;
            justify-content: left !important;
        }   
    }
}

.container-experience {
    background-color: var(--background-secundary-color);
    width: 100%;
    height: 160%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.experience-title {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
        border-radius: 8px;
        font-size: 15px;
        padding: 5px 10px;
        background-color: var(--background-terciary-color);
        color: var(--text-color);
        font-weight: normal;
    }
}

.experiences {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience {
    width: 80%;
    background-color: var(--background-card);
    padding: 20px 30px 20px 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;

    img {
        width: 120px;
        height: 35px;
    }

    section {
        padding: 20px 0;

        h3 {
            padding-bottom: 10px;
            color: var(--text-secundary-color);
            font-weight: bolder;
        }

        ul {
            li {
                color: var(--text-color);
                list-style: none;

                a {
                    text-decoration: none;
                    color: var(--text-secundary-color);
                }
            }
        }
    }

    p {
        color: var(--text-color);
        text-align: end;
    }
}

.container-graduation {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.graduation-title {
    height: 10%;
    h3 {
        border-radius: 8px;
        font-size: 15px;
        padding: 5px 10px;
        background-color: var(--background-terciary-color);
        color: var(--text-color);
        font-weight: normal;
    }
}

.graduation {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    a {
        cursor: pointer;
        width: 65%;
        height: 35%;
        border-bottom: 1px solid var(--hover-button);

        img {
            width: 100%;
            height: 90%;
            border-radius: 20px;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

            &:hover {
                transition: transform 0.3s ease-in-out;
                transform: scale(1.1);
            }
        }
    }

    section {
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        p {
            width: 100%;
            text-align: center;
            color: var(--text-color)
        }
    }
}

.container-tecnologies {
    background-color: var(--background-color);
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.technologies-title {
    h3 {
        padding: 5px 10px;
        border-radius: 8px;
        font-size: 15px;
        background-color: var(--background-terciary-color);
        color: var(--text-color);
        font-weight: normal;
    }
}

.technologies {
    width: 100%;
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 100px);
    align-items: start;
}

.technology {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 15px 10px;

    a {
        cursor: pointer;
        img {
            width: 64px;
            height: 64px;
            animation: float 3s ease-in-out infinite;
        }

        &:hover {
            img {
                animation: none;
                transition: transform 0.3s ease-in-out;
                transform: scale(1.1);
            }
        }
    }

    p {
        color: var(--text-color);
    }
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        height: 100%;
    }

    .container-about {
        padding: 0;
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: row-reverse;
    }
    
    .picture {
        width: 30%;
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    
    .me {
        img {
            box-shadow: 12px 12px var(--background-terciary-color);
        }
    }
    
    .content {
        width: 50%;
        height: 80%;
    }
    
    .resume {
        height: 40%;
    }

    .social {
        height: 25%;
    }

    .container-experience {
        height: 120%;
    }

    .graduation {
        width: 80%;
        display: flex;
        flex-direction: row;

        a {
            border-bottom: none;
            border-right: 1px solid var(--hover-button);
            height: 80%;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 75%;
                height: 45%;
            }
        }
    }

    .technologies {
        width: 60%;
    }
}

// Desktop
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .container {
        height: 100%;
    }

    .container-about {
        padding: 0;
        height: 90%;
        width: 80%;
        display: flex;
        flex-direction: row-reverse;
    }
    
    .picture {
        width: 30%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    
    .me {
        height: 250px;
        width: 250px;

        img {
            box-shadow: 15px 15px var(--background-terciary-color);
        }
    }

    .content {
        width: 50%;
        height: 80%;
    }
    
    .resume {
        height: 40%;
    }

    .social {
        height: 30%;
    }

    .container-experience {
        height: 120%;
    }

    .experience {
        width: 50%;
    }

    .graduation {
        width: 80%;
        display: flex;
        flex-direction: row;

        a {
            border-bottom: none;
            border-right: 1px solid var(--hover-button);
            height: 80%;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 75%;
                height: 55%;
            }
        }
    }

    .technologies {
        width: 50%;
    }
}

// Telas grandes
@media screen and (min-width: 1200px) {
    .container {
        height: 100%;
    }

    .container-about {
        padding: 0;
        height: 90%;
        width: 70%;
        display: flex;
        flex-direction: row-reverse;
    }
    
    .picture {
        width: 30%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    
    .me {
        height: 250px;
        width: 250px;

        img {
            box-shadow: 15px 15px var(--background-terciary-color);
        }
    }

    .content {
        width: 50%;
        height: 60%;
    }
    
    .resume {
        height: 50%;
    }

    .social {
        height: 35%;

        section {
            width: 30%;
        }
    }

    .container-experience {
        height: 120%;
    }

    .experience {
        width: 50%;
    }

    .graduation {
        width: 80%;
        display: flex;
        flex-direction: row;

        a {
            border-bottom: none;
            border-right: 1px solid var(--hover-button);
            height: 80%;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 55%;
                height: 65%;
            }
        }
    }

    .container-tecnologies {
        height: 100%;
    }

    .technologies {
        width: 40%;
    }
}