<div class="container">
    <div class="title">
        <h3>Projetos</h3>
    </div>

    <div class="projects">
        <div class="card-1">
            <a href="https://nutriguide.vercel.app/inicio" target="_blank">
                <img src="../../../assets/nutriguide.png" alt="Nutriguide">
            </a>

            <section>
                <h3>Nutriguide</h3>

                <p>
                    O Nutriguide é uma plataforma web com suporte mobile que facilita a comunicação entre
                    nutricionistas e clientes, permite a criação e download de planos alimentares em PDF, avaliação de
                    nutricionistas e acesso a uma comunidade interativa.
                </p>

                <div>
                    <section class="item">Angular</section>
                    <section class="item">Node.js</section>
                    <section class="item">Express.js</section>
                    <section class="item">SQLite</section>
                </div>

            </section>
        </div>

        <div class="card-2">
            <section>
                <h3>Rei do Café</h3>

                <p>
                    O Rei do Café é um e-commerce de uma loja de café com suporte mobile.
                </p>

                <div>
                    <section class="item">Angular</section>
                </div>
            </section>

            <a href="https://rei-do-cafe.vercel.app/home" target="_blank">
                <img src="../../../assets/reidocafe.png" alt="Rei do Café">
            </a>
        </div>
    </div>
</div>